@media (max-width: 375px){
    .about{
        margin-top: 450px !important;
    }
    .work .container .about__tabs ul li a{
        text-align: center;
        display: block;
        padding: 20px 80px !important;
        font-size: 0.8rem !important;
        min-width: 375px !important;
    }
    .breaking .container .album .card .date{
        min-width: 60px !important;
        min-height: 60px;
    }
    .feedback .container .feedback__slide .owl-nav button{
        bottom: 70px !important;
    }
    .header__search button{
        margin:0 !important;
    }
    .header__search-input{
        right: 35px;
        top: 0;
    }
    .features .features__title h3::after{
        bottom: 50px !important;
    }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .header{
        padding: 10px 0;
    }
    .header > i{
        display: block;
        color: white;
        font-size: 1.4rem;
        transition: .3s ease-in-out;
    }
    .header > i:hover{
        color: #18cfab;
        cursor: pointer;
    }
    .header .container{
        flex-direction: column;
        height: 0;
        transition: .4s ease-in-out;
    }
    .header .container .header__logo{
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }
    .header .container .menu__list{
        margin-bottom: 0;
        padding: 0;
        flex-direction: column;
        align-content: space-between;
    }
    .header .container .menu__list .menu__item{
        padding: 6px 0;
    }
    .home__button{
        width: 42px !important;
    } 
    .header__search{
        display: flex;
        flex-direction: column;
        padding: 10px !important;
        margin-left: 0 !important;
        margin-bottom: 10px;
    }
    .header__search button i{
        position: absolute;
        left: 250px;
        top: 0;
    }
    .header__search-input{
        right: 50px;
        top: -10px;
    }
    .home .container .home__text{
        margin-top: 7vh ;
    }
    .home .home__text .text-w:first-child h3{
        line-height: 2rem;
    }
    .features{
        height: 150vh;
    }
    .features  .features__title{
        padding-top: 2vh;
        height: 14%;
    }
    .features  .features__title h3{
        line-height: 6vh;
    }
    .features .features__title h3::after{
        bottom: 50px;
    }
    .about{
        margin-top: 250px;
    }
    .work__item .work__item-image img{
        min-width: 100%;
    }
    .features .row .features__item{
        padding-top: 2vh;
    }
    .work .container .about__tabs ul li a{
        padding: 15px !important;
        font-size: 0.9rem;
    }
    .services .container .about__tabs ul{
        display: flex;
        flex-wrap: wrap;
    }
    .services .container .about__tabs ul li a{
        padding: 15px 30px !important;
    }
    .services .container .about__tabs ul li{
        flex-grow: 1;
    }
    .services .container .about__tabs ul li a::after{
        left: calc(50% - 30px);
    }
    .services .container .about__tabs .tab-content #service .col-md-10{
        padding-top: 10px;
    }
    .services .container .about__tabs .tab-content #service img{
        max-width: 557px;
        width: 100% !important;
    }
    .purchase{
        padding: 15px 32px !important;
    }
    .purchase .home__buttons button{
        height: 45px;
        width: 125px !important;
    }
    .breaking .container .album .card .date h4{
        font-size: 1.7rem !important;
        padding: 10px !important;
    }
    .pricing{
        margin-top: 163px;
    }
    .pricing .pricing__table .pricinig__heading.offer::after{
        right: -20px;
        width: 80px;
    }
    .feedback .container .feedback__slide .owl-dots button{
        padding: 6px;
        margin: 20px 6px 12px;
    }
    .feedback .container .feedback__slide .owl-nav button{
        bottom: 5px;
    }
    .theme .container-fluid .row .col-md-7 img.ipad{
        height: 300px;
    }
    .theme .container-fluid .row .col-md-7 img.stylus{
        width: 200px;
        top: -30px !important;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .header .container .menu .menu__list li{
        display: block;
        width: 100%;
    }
    .work .container .about__tabs ul li a{
        padding: 15px 12px;
    }
    .services .container .about__tabs ul li a{
        font-size: 1.3rem;
        padding: 13px 5px !important; 
    }
    .services .container .about__tabs .tab-content #service .col-md-10{
        max-width: 100% !important;
        font-size: 1.1rem !important;
    }
    .breaking .container .album .card .date{
        width: 15% !important;
        height: 15%;
        font-size: 1.5rem !important;
    }
    .purchase{
        padding: 0 10px;
    }
    .feedback .container .feedback__slide .owl-nav button:nth-child(1){
        margin-left: -90px !important;
    }
    .feedback .container .feedback__slide .owl-nav button:nth-child(2){
        margin-right: -90px !important;
    }
    .team .container .row .col-md-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team .container .row  .col-md-3 > div{
        width: 330px;
    }
    .theme .container h1{
        margin-bottom: 15px;
    }
    .contact .container .map .mapouter .gmap_canvas{
        max-width: 510px !important;
    }
    .contact .container .map .mapouter .gmap_canvas iframe{
        max-width: 510px !important;
    }
    .theme .container-fluid .row .col-md-7 img.stylus{
        right: 0;
    }
    footer .container .footer__main .post .card .card-block.px-3{
        margin-left: -20px !important;
        margin-top: -30px;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    .header{
        padding: 0;
        transition: .3s ease-in-out;
    }
    header > i{
        display: block !important;
        padding: 10px 0;
        color: white;
        font-size: 1.4rem;
        transition: .3s ease-in-out;
    }
    .header > i:hover{
        color: #18cfab;
        cursor: pointer;
    }
    .header .container{
        flex-direction: column;
        height: 0;
        transition: .4s ease-in-out;
    }
    .header .container .header__logo{
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }
    .header .container .menu__list{
        margin-bottom: 0;
        padding: 0;
        flex-direction: column;
        align-content: space-between;
    }
    .header .container .menu__list .menu__item{
        padding: 7px 0;
    }  
    .header__search >*{
        display: block;
    }
    .header__search {
        padding: 0px 40px 40px;
    }
    .header__search button{
        font-size: 1.2rem;
        margin: 0 275px;
    }
    .header__search-input{
        display: none;
    }
    .home__buttons{
        margin:30px 7px 70px;
    }
    .home__button{
        margin: 0;
        width: 100px !important;
    }
    .home .home__text h2{
        line-height: 4rem;
        font-size: 1.8rem;
    }
    .options .options__item h4{
        font-size: 1.2rem;
    }
    .features .row .col-lg-4{
        padding: 15px;
    }
    .features .row .features__item .item-heading{
        margin-bottom: 5px;
    }
    .about__title h3{
        line-height: 120px;
        font-size: 1.8rem;
    }
    .about__title h3::after{
        top: 100px;
    }
    .pricing .container .pricing__table .col-md-3{
        min-width: 50%;
    }
    .services .container .about__tabs ul li a{
        padding: 15px 8px !important;
    }
    .services .container .about__tabs ul li a::after{
        bottom: -26px;
    }
    .services .container .about__tabs .tab-content #service .col-md-2{
        min-width: 25%;
    }
    .services .container .about__tabs .tab-content #service img{
        width: 100%;
    }
    .services .container .about__tabs .tab-content #service .col-md-10{
        font-size: 0.85rem !important;
        max-width: 75%;
    }
    .purchase .home__buttons button{
        width: 140px !important;
    }
    .breaking .container .album .card .date{
        width: 30%;
    }
    .feedback .container .feedback__slide .owl-nav button:nth-child(1){
        left: 135px !important;
    }
    .feedback .container .feedback__slide .owl-nav button:nth-child(2){
        right: 135px !important;
    }
    .team .container .row .col-md-3{
        min-width: 50% !important;
        margin-bottom: 30px;
    }
    .team .container .row .col-md-3 .team__avatar img{
        width: 330px !important;
    }
    .team .container .row .col-md-3 .team__social{
        width: 330px !important;
    }
    .theme .container h1{
        font-size: 1.7rem !important;
    }
    .theme .col-md-2{
        min-width: 25%;
    }
    .contact .container .contact__info .about__contact h3{
        margin-top: 40px;
        padding-left: 0;
    }
    .contact .container .contact__info form{
        padding-left: 0 !important;
    }
    .contact .container .map .mapouter{
        max-width: 100%;
    }
    .contact .container .map .mapouter .gmap_canvas{
        max-width: 690px;
    }
    .contact .container .map .mapouter .gmap_canvas iframe{
        width: 690px;
    }
    footer .container .footer__main .post{
        margin-top: 50px;
    }
    footer .container .footer__main .post .card img{
        width: 60% !important;
    }
    footer .container .footer__main .post .card .card-block.px-3{
        margin-left: -60px;
    }
    footer .container .footer__main .feed h3{
        margin-top: 20px;
    }
    footer .container .footer__main .feed .img-container img{
        flex-basis: 30%;
    }
    footer .footer__copyright{
        margin-top: 20px;
    }
    footer .container .footer__main .tags{
        margin-top: 20px;
    }
}
/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    .header .container .header__logo{
        height: 100%;
        margin-top: 5px;
    }
    .header .container .menu .menu__list{
        display: flex;
        justify-content: center;
    }
    .menu__list .menu__item{
        padding: 0 10px;
    }
    .header__search-input{
        width: 65vw;
    }
    .home__button{
        width: 8vw;
    }
    .features .row .features__item{
        text-align: center;
    }
    .work .container .load{
        padding-bottom: 65px;
    } 
    .services .container .about__tabs ul li a{
        padding: 17px 28px;
    }   
    .services .container .about__tabs .tab-content #service img{
        height: 90%;
        width: 110%;
    }
    .services .container .about__tabs .tab-content #service .col-md-10{
        font-size: 1rem;
    }
    .breaking .container .album .card .date h4{
        font-size: 1rem !important;
    }
    .team .container .row .col-md-3 .team__avatar img{
        width: 210px;
    }
    .team .container .row .col-md-3 .team__social{
        width: 210px;
    }
    .team .container .row .col-md-3 .team__social i{
        padding: 15px;
    }
    .team{
        margin-bottom: 90px;
    }
    .theme .container h1{
        font-size: 2.1rem;
    }
    .theme .container h2{
        font-size: 1.6rem;
    }
    .theme .container-fluid .row .col-md-7 img.ipad{
        top: -70px;
    }
    .theme .container-fluid .row .col-md-7 img.stylus{
        top: -10px;
    }
    .theme .container-fluid .row .col-md-2 ul li{
        font-size: 0.8rem;
    }
    .contact .container .contact__info .about__contact{
        padding: 0 100px;
    }
    .contact .container .contact__info .about__contact h3{
        text-align: center;
    }
    .contact .container .contact__info .about__contact h3::after{
        left: calc(50% - 30px);
    }
    .contact .container .contact__info form{
        padding-left: 110px;
    }
    .work__item .work__item-image img{
        max-width: 100%;
        object-fit: cover;
    
    }
    .feedback .container .feedback__slide .owl-nav button:nth-child(1){
        left: 230px;
    }
    .feedback .container .feedback__slide .owl-nav button:nth-child(2){
        right: 230px;
    }
}