/* Reset */
* 
{
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
li{
    list-style-type: none;
}
.text-w{
    color:#fff;
}
.theme-color{
    color:#18cfab;
}
.theme-bg{
    background-color: #18cfab;
}
.pt-1{
    padding-top: 1vh;
}
.pb-1{
    padding-bottom: 1vh;
}
.pt-2{
    padding-top: 2vh;
}
.pb-2{
    padding-bottom: 2vh;
}
.pt-3{
    padding-top: 3vh;
}
.pb-3{
    padding-bottom: 3vh;
}
.pt-4{
    padding-top: 4vh;
}
.pb-4{
    padding-bottom: 4vh;
}
.ml-1{
    margin-left: 1vh;
}
.mr-1{
    margin-right: 1vh;
}
.ml-3{
    margin-left: 3vh;
}
.mr-3{
    margin-right: 3vh;
}
.ml-4{
    margin-left: 4vh;
}
.ml-2{
    margin-left: 2vh;
}
.ml-4{
    margin-left: 4vh;
}
.mt-4{
    margin-top: 4vh;
}