@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


/* Header */
.header{
    padding-top: 10px;
    background-color: #727171;
}
.header > i{
    display: none;
}
.header .container{
    transition: .3s ease-in-out;
    display: flex;
}
.menu__list{
    display: flex;
    justify-content: space-between;
}
.menu__list .menu__item{
    padding: 0 13px;
}
.menu__list .menu__item a{
    color: #fff;
    transition: .3s ease-in-out;
    position: relative; 
}
/* Hover effect*/
.menu__list .menu__item a::after{
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0; 
    margin: 0 auto;
    left: 0;
    right: 0;
	width: 0;
	transition:.2s ease-in-out;
}
.menu__list .menu__item a:hover{
    color:#18cfab;
}
.menu__list .menu__item a:hover::after{
    width: 100%;
	background:#18cfab;
}
/* End of Hover effect*/
.menu__item{
    text-align: center;
}
.menu__link{
    text-transform: uppercase;
    font-weight: bolder;
}
.header__search{
    position: relative;
}
.header__search >*{
    display: inline-block;
}
.header__search button{
    color: #fff;
    border: none;
    background: transparent;
    transition: .3s ease-in-out;
}
.header__search button:hover{
    cursor: pointer;
}
.menu__link:hover{
    color:#18cfab;
}
.header__search-input{
    position: absolute;
    right: 0;
    top: 2.3vh;
    display: none;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    transition: .2s ease-out;
}

/* End of Header */

/* Home */
.home{
    background: darkslategrey;
    position: relative;
}
.home .container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.home .home__text{
    margin-top: 160px;
    font-family: "Montserrat";
    font-weight: bold;
}
.home .home__text .text-w:first-child h3{
    text-transform: uppercase;
}
.home .home__text .text-w:nth-child(2) h1{
    line-height: 5.1rem;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: .5px;
}
.home .home__text h2{
    line-height: 3.5rem;
}
.home__buttons{
    margin:35px 0 135px;
}
.home__button{
    color:#fff;
    position: relative;
    font-weight: bold;
    border-top: 3px solid #fff;
    border-radius: 4px;
    width: 110px;
    height: 40px;
    text-transform: uppercase;
    font-size: .6rem;
    border-bottom: none;
    border-right: none;
    border-left: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: .7s ease-out;
}
.home__button::after{
    position: absolute;
    content: '';
    height: 0;
    background: #fff;
    top: 0; 
    margin: 0 auto;
	left: 0;
	width: 100%;
	transition:.2s ease;
}
.home__button:focus{
    outline: none;
}
.home__button-explore{
    background: #18cfab;
}
.home__button-explore:hover{
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: .7rem;
}
.home__button-explore:hover::after{
    height: 100%;
    opacity: .3;
}
.home__button-purchase{
    background: #00cbf6;
}
.home__button-purchase:hover{
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: .7rem;
}
.home__button-purchase:hover::after{
    height: 100%;
    width: 100%;
    opacity: .3;
}
/* End of Home */

/* 4 Options*/
.options .options__item{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    background: #1c2a33;
    color: #18cfab;
    transition: .3s ease-in-out;
    border-top: 5px solid #18cfab;
}
.options .options__item i{
    font-size: 3.3rem;
    line-height: 135px;
}
.options .options__item h4{
    line-height: 30px;
    margin-bottom: 55px;
    font-size: 1rem;
}
.options .options__item:hover{
    background: #18cfab;
    color: #fff;
    border-top: 5px solid #fff;
    cursor: pointer;
}
/* End of 4 Options*/

/* Features */
.features{
    padding-bottom: 45px
}
.features  .features__title h3{
    color: #4e4e4e;
    font-family: "Montserrat";
    font-size: 2.2rem;
    position: relative;
    padding: 55px 0 90px;
}
.features .features__title h3::after{
    position: absolute;
    bottom: 65px;
    left: calc(50% - 55px);
    content: '';
    width: 95px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 10px 4px 0 .1px #18cfab;
}
.features .row .features__item{
    text-align: left;
}
.features .row .features__item .item-heading i{
    color: #18cfab;
}
.features .row .features__item .item-heading h6{
    color: #777777;
}
.features .row .features__item .item-heading > *{
    display: inline-block;
}
.features .row .features__item .item-text{
    color: #777777;
}
/* End Of Features */

/* About */
.about{
    background-image: url('../img/about-company.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 40px;
}
.about__title{
    height: 30%;
}
.about__title h3{
    font-size: 2.2rem;
    line-height: 165px;
    color: #ffffff;
    font-family: "Montserrat";
}
.about__title h3::after{
    position: absolute;
    top: 120px;
    left: calc(50% - 15px);
    content: '';
    width: 74px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 10px 4px 0 .1px #18cfab;
}
.about__tabs{
    height: 70%;
}
.about__tabs ul{
    color: #fff;
    display: flex;
    justify-content: space-between;
    border: 0;
}
.about__tabs ul li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s ease-in-out;
}
.about__tabs ul li a:hover{
    color: #18cfab;
    border-top: 2px solid #18cfab;
}
.about__tabs .tab-content{
    margin-top: 45px;
    color: #fff;
}
.progress{
    margin: 25px 0;
    height: 40px;
    background: transparent;
    box-shadow: inset 0 0 2px #e9e9e9;	 
    border-radius: 5px;
}
.progress .progress-bar{
    text-align: left;
    text-indent: 12px;
    color: #fff;
    font-weight: bold;
}
/* End Of About */

/* Work */
.work{
    padding-top: 70px;
    background: #f8fcfe;
    border-bottom: 1px solid #e1e1e1;
}
.work .container .about__work h3{
    font-size: 2.2rem;
    color: #000;
    font-family: "Montserrat";
    position: relative;
    padding-bottom: 90px;
}
.work .container .about__work h3::after{
    position: absolute;
    top: 54px;
    left: calc(50% - 40px);
    content: '';
    width: 90px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 10px 4px 0 .1px #18cfab;
}
.work .container .about__tabs{
    color: #777777;
}
.work .container .about__tabs ul{
    justify-content: center;
    padding-bottom: 30px;
}
.work .container .about__tabs ul li{
    margin-right: -2px;
}
.work .container .about__tabs ul li a{
    text-transform: capitalize;
    color: #777777;
    padding: 15px 30px;
    font-weight: 600;
    box-shadow: inset 0 0 2px #b8b7b7;
}
.work .container .about__tabs ul li a:hover{
    color: #18cfab;
}
.work .container .about__tabs .tab-content{
    color: #777777;
}
.work .container .about__tabs .tab-content .row{
    margin: 0;
}
.work .container .about__tabs .tab-content .row .work__item{
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
.work__item .work__item-image{
    position: relative;
}
.work__item .work__item-image img{
    height: 207px;
    object-fit: contain;
}
.work__item .work__item-info{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background:#fff;
    transition: .3s ease-in-out;
    overflow: hidden;
}
.work__item .work__item-image:hover{
    cursor: pointer;
}
.work__item .work__item-image:hover .work__item-info{
    height: 100%;
    border-top: 3px solid #18cfab;
    display: flex;
    flex-direction: column;
} 
.work__item-info .work__item-link{
    line-height: 85px;
}
.work__item-info .work__item-link i{
    border-radius: 50%;
    padding: 15px;
    background: #18cfab;
    color: #fff;
    font-size: .8rem;
    transition: .2s ease-in-out;
}
.work__item-info .work__item-heading{
    text-transform: uppercase;
    color:#18cfab;
    font-family: "Montserrat";
}
.work__item-info .work__item-heading h6{
    font-weight: bold;
}
.work__item-info .work__item-link i:hover{
    border: 1px solid #18cfab;
    background: #fff;
    color: #18cfab;
}
.work .container .load{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px 0;
}
.work .container .load button{
   padding: 13px 20px;
   color: #fff;
   font-weight: bold;
   background-color: #18cfab;
   border: none;
   outline: none;
   border-radius: 5px;
   transition: .4s ease-in-out;
   position: relative;
}
.work .container .load button::after{
    position: absolute;
    content: '';
    background: #fff;
    top: 0; 
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
	transition:.4s ease-in-out;
}
.work .container .load button i{
    transition: 4s ease-in-out;
    margin-right: 7px;
}
.work .container .load button:hover i{
    transform: rotate(720deg);
}
.work .container .load button:hover::after{
    width: 100%;
    opacity: .3;
}
/* End of Work */

/* Services */
.services{
    padding-bottom: 55px;
}
.services .container .about__services h3{
    font-size: 2.2rem;
    font-family: "Montserrat";
    position: relative;
    margin-bottom: 0 !important;
    line-height: 150px !important;
}
.services .container .about__services h3::after{
    position: absolute;
    bottom: 35px;
    left: calc(50% - 50px);
    content: '';
    width: 90px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 10px 4px 0 .1px #18cfab;
}
.services .container .about__tabs{
    color: #777777;
}

.services .container .about__tabs ul{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.services .container .about__tabs ul li{
    margin-top: 50px;
    margin-right: -2px;
    position: relative;

}
.services .container .about__tabs ul li.active a.show{
    color: #fff;
    background: #18cfab;
}
.services .container .about__tabs ul li a.active.show{
    color: #fff;
    background: #18cfab;
}
.services .container .about__tabs ul li a.active.show:hover{
    border-top: 0;
}
.services .container .about__tabs ul li a::after{
    position: absolute;
    bottom: -28px;
    left: calc(50% - 10px);
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 13px 0 13px;
    border-color: #18cfaa transparent transparent transparent;
    opacity: 0;
    transition: .2s ease-in-out;
}
.services .container .about__tabs ul li a.active.show::after{
    opacity: 1;
}
.services .container .about__tabs ul li a{
    text-transform: capitalize;
    color: #777777;
    padding: 17px 43px;
    font-weight: 600;
    background: #f8fcfe;
    box-shadow: inset 0 0 2px #b8b7b7;
    transition: .3s ease-in-out;
}
.services .container .about__tabs .tab-content{
    color: #777777;
}
.services .container .about__tabs .tab-content #service{
    padding: 0;
}
.services .container .about__tabs .tab-content #service img{
    width: 100%;
    height: 100%;
}
/* End Of Services */

/* Purchase */
.purchase{
    background:url('../img/hands-big.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.purchase h1{
    text-transform: uppercase;
    color: #18cfab;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 100px;
}
.purchase p{
    font-weight: bold;
    color: #d8d8d8;
    line-height: 70px;
}
.purchase .home__buttons{
    margin-bottom: 100px;
}
.purchase .home__buttons button{
    width: 130px;
    height: 45px;
    font-size: .8rem;
}
.purchase .home__buttons button:hover{
    font-size: .9rem;
}
/* End Of Purchase */


/* Breaking News */
.breaking{
    margin-top: 40px;
    margin-bottom: 30px;
}
.breaking .container .about__breaking h3{
    font-size: 2.2rem;
    font-family: "Montserrat";
    position: relative;
    margin-bottom: 0 !important;
    line-height: 100px !important;
}
.breaking .container .about__breaking::after{
    position: absolute;
    left: calc(50% - 50px);
    content: '';
    width: 85px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 10px 4px 0 .1px #18cfab;
}
.breaking .container .album .card{
    position: relative;
}
.breaking .container .album .card .card-body.text-center{
    padding: 10px;
}
.breaking .container .album .card .date{
    position: absolute;
    top: 0;
    right: 0;
    height: 25%;
    width: 25%;
    background: #203e38;
    transition: .3s ease-in-out;
}
.breaking .container .album .card .date h4{
    font-size: 1.1rem !important;
    padding: 6px !important;
}
.breaking .container .album .card .date:hover{
    cursor: pointer;
    background: #18cfab;
}
/* End Of Breaking News */

/* Fun Fact */
.fun-fact .container-fluid{
    background: #25333c;
}
.fun-fact .container-fluid .row{
    padding: -15px;
}
.fun-fact .col-md-3{
    transition: .3s ease-in-out;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.fun-fact{
    background: #25333c;
    color: #fff;
    font-size: 2rem;
}
.fun-fact i{
    display: block;
    padding: 33px;
    background: #18cfaa;
    border: 1px solid #18cfab;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}
.fun-fact i::after{
    position: absolute;
    border-radius: 50%;
    content: '';
    top: calc(50% - 62px);
    right: calc(50% - 62px);
    padding: 60px;
    background: transparent;
    border: 2px solid #18cfab;
    transition: .3s ease-in-out;
}
.fun-fact h4{
    margin-top: 30px;
    line-height: 10px;
    font-size: 2.1rem;
}
.fun-fact p{
    font-size: 1rem;
    color: #18cfaa;
    padding: 10px;
    transition: .3s ease-in-out;
    font-weight: bold;
}
.fun-fact .col-md-3:hover{
    cursor: pointer;
    background: #18cfab;
}
.fun-fact .col-md-3:hover i{
    background: #25333c;
}
.fun-fact .col-md-3:hover i::after{
    border: 2px solid #25333c;
}
.fun-fact .col-md-3:hover p{
    color: #25333c;
}
/* End Of Fun Fact */

/* Pricing */
.pricing{
    margin: 40px 0 60px;
}
.pricing .container .about__pricing h3{
    font-size: 2.2rem;
    font-family: "Montserrat";
    position: relative;
    margin-bottom: 0 !important;
    line-height: 100px !important;
    font-weight: bold;
}
.pricing .container .about__pricing::after{
    position: absolute;
    left: calc(50% - 50px);
    content: '';
    width: 90px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 10px 4px 0 .1px #18cfab;
}
.pricing .container .pricing__table {
    margin: 90px 0 0 0;
    background: #f8fcfe;
}
.pricing .container .pricing__table .col-md-3{
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    transition: .3s ease-in-out;
    padding: 0;
}
.pricing .pricing__table .pricinig__heading{
    text-transform: uppercase;
    color: #727171;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 2px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 43px;
    padding: 5px;

}
.pricing .pricing__table .pricinig__heading.offer{
    position: relative;
    overflow: hidden;
}
.pricing .pricing__table .pricinig__heading.offer::after{
    position: absolute;
    content: 'offer';
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.5rem;
    transform: rotate(50deg);
    color: #fff;
    background: #18cfab;
    height: 23px;
    line-height: 25px;
    width: 80px;
    top: 8px;
    right: -26px;
}
.pricing .pricing__table .pricing__price{
    padding: 10px;
    background: #2e4a5b;
    transition: .3s ease-in-out;
}
.pricing .pricing__table .pricing__price h1{
    color: #fff;
    font-family: 'Francois One', sans-serif;
    font-size: 2.2rem;
}
.pricing .pricing__table .pricing__price h1 sub{
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;

}
.pricing .pricing__table .pricing__plan ul li{
    font-family: 'Nunito Sans', sans-serif;
    color: #2e4a5b;
    font-weight: bold;
    font-size: 0.9rem;
    background: #f8fcfe;
}
.pricing .pricing__table .pricing__plan button{
    border: none;
    outline: none;
    padding: 8px 20px;
    background: #2e4a5b;
    color: white;
    font-size: 0.8rem;
    transition: .3d ease-in-out;
    font-family: 'Nunito Sans', sans-serif;
}
.pricing .container .pricing__table .col-md-3:hover{
    box-shadow: 0  0 10px #cac9c9;
    cursor: pointer;
    transform: scale(1.01);
}
.pricing .container .pricing__table .col-md-3:hover .pricing__price ,.pricing__plan button{
    background: #18cfab;
}
.pricing .container .pricing__table .col-md-3:hover .pricing__plan button{
    background: #18cfab;
}
/* End Of Pricing */

/* Feedback */
.feedback{
    background-image: url('../img/bay.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px;
}
.feedback .container{
    color: #fff;
    font-family: "Montserrat";
}
.feedback .container .about__feedback{
    padding: 12px;
}
.feedback .container .about__feedback h3{
    font-size: 2.4rem;
    font-weight: bold;
    position: relative;
}
.feedback .container .about__feedback h3::after{
    position: absolute;
    left: calc(50% - 55px);
    bottom: -15px;
    content: '';
    width: 90px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 10px 4px 0 .1px #18cfab;
}
.feedback .container .feedback__icon svg{
    fill: #18cfab;
    margin-top: 55px;
    margin-bottom: 30px;
}
.feedback .container .feedback__slide{
    position: relative;
}
.feedback .container .feedback__slide .feedback__text{
    color: #b8b7b7;
    line-height: 27px;
    font-size: .9rem;
}
.feedback .container .feedback__slide .feedback__author{
    color: #18cfab;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.feedback .container .feedback__slide .feedback__prof{
    color: #b8b7b7;
    font-size: .8rem;
    line-height: 30px;
}
.feedback .container .feedback__slide img{
    height: 140px;
    width: 140px;
    margin: 0 auto;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 6px #2b5f62;
    margin-bottom: 10px;
    margin-top: 25px;
    object-fit: cover;
    transition: .3s ease-in-out;
}
.feedback .container .feedback__slide img:hover{
    cursor: pointer;
    box-shadow: 0 0 0 8px #2b5f62;

}
.feedback .container .feedback__slide .owl-nav{
    bottom: 10px;
    right: 340px;
    padding: 30px 220px;
}
.feedback .container .feedback__slide .owl-nav button{
    outline: none;
    color: #babbbb;
    background: transparent;
    width: 30px;
    position: absolute;
    bottom: 10px;
    border:1px solid #babbbb;
    height: 30px;
}
.feedback .container .feedback__slide .owl-dots button.active{
    transform: translateY(-12px);
}

.feedback .container .feedback__slide .owl-nav button:nth-child(1){
    left: 320px;
}
.feedback .container .feedback__slide .owl-nav button:nth-child(2){
    right: 320px;
}
.feedback .container .feedback__slide .owl-nav button:hover span{
    background: #18cfab;
    color: #fff;
}
.feedback .container .feedback__slide .owl-nav button span{
    position: absolute;
    bottom: 0;
    font-size: 2.2rem;
    display: block;
    line-height: 25px;
    padding: 2px 9px;
    transition: .3s ease-in-out;
}
.feedback .container .feedback__slide .owl-dots button{
    margin: 70px 15px 16px;
    padding: 14px;
    border-radius: 50%;
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 3px #2b5f62;
    color: transparent;
    outline: none;
    transition: .3s ease-in-out;
}
.feedback .container .feedback__slide .owl-dots button:first-child {
    background-image: url('../img/person-1.jpg');
    background-size: cover;
}
.feedback .container .feedback__slide .owl-dots button:nth-child(2){
    background-image: url('../img/person-2.jpg');
    background-size: cover;
}
.feedback .container .feedback__slide .owl-dots button:nth-child(3){
    background-image: url('../img/person-3.jpg');
    background-size: cover;
}
.feedback .container .feedback__slide .owl-dots button:last-child{
    background-image: url('../img/person-4.jpg');
    background-size: cover;
}
.feedback .container .feedback__slide .owl-dots button:hover{
    transform: translateY(-12px);
    cursor: pointer;
}
/* End Of Feedback */

/* Team */
.team{
    margin: 42px 0;
}
.team .container .about__team{
    padding: 10px;
    line-height: 40px;
    margin-bottom: 90px;
}
.team .container .about__team h3{
    font-size: 2.4rem;
    position: relative;
}
.team .container .about__team h3::after{
    position: absolute;
    left: calc(50% - 65px);
    bottom: -15px;
    content: '';
    width: 110px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 10px 5px 0 .1px #18cfab;
}
.team .container .row .col-md-3 .team__avatar{
    position: relative;
}
.team .container .row .col-md-3 .team__avatar .overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}
.team .container .row .col-md-3 .team__avatar .overlay .border{
    position: absolute;
    padding: 35px;
    background: transparent;
    border: 2px solid #18cfab !important;
    border-radius: 50%;
    transition: .3s ease-in-out;
    opacity: 0;
}
.team .container .row .col-md-3 .team__avatar .overlay i{
    color: #18cfab;
    border-radius: 50%;
    padding: 20px;
    background: #fff;
    transition: .3s ease-in-out;
    opacity: 0;
}
.team .container .row .col-md-3 .team__avatar img{
    height: 255px;
    width: 255px;
    object-fit: cover;
}
.team .container .row .col-md-3 .team__info{
    background: #2e4a5b;
    font-family: "Montserrat";
    text-align: left;
    padding-left: 20px;
    transition: .3s ease-in-out;
}
.team .container .row .col-md-3 .team__info h5{
    color: #fff;
    padding-top: 20px;
}
.team .container .row .col-md-3 .team__info p{
    color:#18cfab;
    padding-bottom: 20px;
    margin-bottom: 0;
    transition: .3s ease-in-out;
}
.team .container .row .col-md-3 .team__social{
    display: flex;
    width: 255px;
}  
.team .container .row .col-md-3 .team__social i{
    flex-basis: 25%;
    padding: 20px;
    color: #fff;
    background: #2e4a5b;
    font-size: 1.2rem;
    border-top: 1px solid #fff;
    transition: .3s ease-in-out;
}
.team .container .row .col-md-3 .team__social i:not(:last-child){
    border-right: 1px solid #fff;
}
.team .container .row .col-md-3:hover{
    cursor: pointer;
}
.team .container .row .col-md-3:hover .overlay{
    background: #00000072;
}
.team .container .row .col-md-3:hover .overlay .border{
    opacity: 1;
}
.team .container .row .col-md-3:hover .overlay i{
    opacity: 1;
}
.team .container .row .col-md-3:hover .team__info{
    background: #18cfab;
}
.team .container .row .col-md-3:hover .team__social i{
    background: #18cfab;
}
.team .container .row .col-md-3:hover .team__info p{
    color: #2e4a5b;
}
/* End Of Team */

/* Theme */
.theme{
    background: url('../img/mountain.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme .container{
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat";
    padding: 100px;
}
.theme .container h1{
    color: #fff;
    font-weight: bold;
}
.theme .container h2{
    color: #18cfab;
    font-weight: bold;
    letter-spacing: 1px;
}
.theme .container-fluid{
    position: relative;
}
.theme .container-fluid .row .col-md-7 img.ipad{
    position: absolute;
    height: 500px;
    top: -100px;
    right: 50px;
}
.theme .container-fluid .row .col-md-7 img.stylus{
    width: 350px;
    position: absolute;
    right: -7px;
    top: -40px;
}
.theme .container-fluid .row .col-md-2 ul li{
    padding-bottom: 10px;
    font-family: "Montserrat";
    font-size: .9rem;
    color: #fff;
}
.theme .container-fluid .row .col-md-2 ul li i{
    color: #18cfab;
    padding-right: 10px; 
}
.theme .container-fluid .row .col-md-2 .home__buttons button{
    width: 130px;
    height: 45px;
}
/* End Of Theme */

/* Contact */
.contact{
    margin-top: 80px;
    margin-bottom: 60px;
}
.contact .container .map .mapouter{
    width: 100%;
}
.contact .container .contact__info .about__contact{
    padding:0 10px;
}
.contact .container .contact__info .about__contact h3{
    font-size: 1.8rem;
    position: relative;
    text-align: left;
    padding-left: 10px;
}
.contact .container .contact__info .about__contact h3::after{
    position: absolute;
    left: calc(50% - 180px);
    bottom: -12px;
    content: '';
    width: 85px;
    transform: skewX(45deg);
    border-bottom:1px solid #18cfab;
    box-shadow: 8px 4px 0 .1px #18cfab;
}
.contact .container .contact__info form{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 110px;
}
.contact .container .contact__info form>*{
    margin-bottom: 15px;
}
.contact .container .contact__info form input{
    height: 53px;
    border:1px solid #c1d2cf;
}
.contact .container .contact__info form input::placeholder{
    padding-left: 20px;
    color: #c1d2cf;
}
.contact .container .contact__info form textarea{
    border:1px solid #c1d2cf;
    height: 195px;
    resize: none;
}
.contact .container .contact__info form textarea::placeholder{
    color: #c1d2cf;
    padding-left: 20px;
    padding-top: 10px;
}
.contact .container .contact__info form button{
    background: #18cfab;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:5px solid #08bf9b ;
    font-family: "Montserrat";
    height: 50px;
    font-size: 13px;
    font-weight: bold;
    transition: .4s ease-in-out;
}
.contact .container .contact__info form button:hover{
    cursor: pointer;
    font-size: 14px;
    color: #1c2a33;
}
/* End Of Contact */
  
/* Footer */
footer{
    background: #1c2b33;
    padding-top: 70px;
    font-family: "Montserrat";
}
footer .footer__copyright{
    background: #22353f;
    text-align: center;
    height: 70px;
    line-height: 70px;
    color: #aeaeae;
    margin: 0;
}
footer .container .footer__main .panza h1{
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
    text-transform: uppercase;
} 
footer .container .footer__main .panza h1 span{
    color: #18cfab;
} 
footer .container .footer__main .panza p{
    color: #C1C1C1;
    line-height: 25px;
    font-size: .84rem;
}
footer .container .footer__main .panza .address p{
    font-size: 0.85rem;
}  
footer .container .footer__main .panza .address p:first-child{
    margin-bottom: 0;
    font-weight: bold;
}
footer .container .footer__main .panza .phone p{
    margin-bottom: 0;
}
footer .container .footer__main .panza .phone p span{
    font-weight: bold;
}
footer .container .footer__main .post h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 40px;
}
footer .container .footer__main .post .card{
    background: transparent;
    color: #fff;
    border-bottom: .2px solid #cacaca;
    border-radius: 0;
    border-top: none;
    border-left: 0;
    border-right: 0;
    margin-bottom: 30px;
    padding-bottom: 25px;
}
footer .container .footer__main .post .card img{
    height: 65%;
    width: 50%;
    object-fit: cover;
}
footer .container .footer__main .post .card .card-block.px-3{
    margin-left: -25px;
}
footer .container .footer__main .post .card h6{
   font-size: .89rem;
   font-weight: bold;
   text-transform: uppercase;
   color: #18cfab;
   letter-spacing: .9px;
}
footer .container .footer__main .post .card p{
    font-size: 0.8rem;
    font-family: "Montserrat";
    color: #C1C1C1
}
footer .container .footer__main .post .card p:last-child{
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    line-height: 5px;
}
footer .container .footer__main .tags h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 40px;
}
footer .container .footer__main .tags .tag-container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 55px;
    border-bottom: .2px solid #929292;
}
footer .container .footer__main .tags .tag-container .tag-item{
    flex-basis: 30%;
    color: #d7d7d7;
    padding: 6px;
    text-align: center;
    border: 1px solid #d7d7d7;
    font-size: .9rem;
    margin:3px 2px;
    transition: .3s ease-in-out;
}
footer .container .footer__main .tags .tag-container .tag-item:hover{
    background: #18cfab;
    cursor: pointer;
    color: #fff;
}
footer .container .footer__main .tags h3:nth-of-type(2){
    margin-top: 20px;
    letter-spacing: 1px;
}
footer .container .footer__main .tags p{
    color: #d7d7d7;
    font-size: 0.95rem;
}
footer .container .footer__main .tags .input-group{
    margin-top: 35px;
}
footer .container .footer__main .tags .input-group input{
    background: #22353f;
    border-radius: 0;
    border: none;
}
footer .container .footer__main .tags .input-group input::placeholder{
    color: #6a6c6e;
}
footer .container .footer__main .tags .input-group .input-group-append button{
    border-radius: 0;
    border: none;
    color: #18cfab;
    font-weight: bold;
    background: #294453;
}
footer .container .footer__main .tags .input-group .input-group-append button:hover{
    cursor: pointer;
}
footer .container .footer__main .feed h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 40px;
}
footer .container .footer__main .feed .img-container{
    display: flex;
    flex-wrap: wrap;
}
footer .container .footer__main .feed .img-container img{
    flex-basis: 50%;
    width: 30%;
    height: 25%;
    padding: 6px;
}
footer .footer__copyright p{
    margin-bottom: 0;
    font-family: "Montserrat";
    font-size: 0.9rem;
}
footer .footer__copyright p span{
    color: #18cfab;
}

  